/* Framework */
html {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url(compare-fibre-PAOv9-7VBMI-unsplash.jpg) no-repeat black;
  background-size: cover;
  min-height: 100vh;
}

body {
  padding: 2em 0 3em;
  grid-template-columns: 1fr min(50rem, 90%) 1fr;
  background: transparent;
  color: rgb(235, 235, 235);
}
.container {
  background: rgb(23, 23, 23, 0.85);
  border-radius: 28px;
  padding-bottom: 2.5em;
}

header {
  background: white;
  padding: 1em;
  border-radius: 28px 28px 0 0;
  border-bottom: 3px solid #eb8632;
}
.logo {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

/* Content */
.content {
  padding: 0.5em 2em 0;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

ul#drive_sites {
  padding-left: 0;
}
ul#drive_sites li {
  display: none;
  padding-left: 0;
}

/* Form simple overrides */
a.button {
  background-color: #eb8632;
  border-color: #eb8632;
  border-radius: 22px;
  min-height: 44px;
}
a.button:hover {
  background-color: rgb(235, 235, 235) !important;
  border-color: rgb(235, 235, 235) !important;
}

a {
  color: #eb8632;
}

input,
select,
textarea {
  border-color: #eb8632;
}
select {
  color: #757575;
}
input::-webkit-calendar-picker-indicator {
  opacity: 100;
}
#site {
  display: block;
}
#site,
#drive_sites,
select {
  width: auto;
  min-width: 460px;
}

input[type="checkbox"] {
  margin: 0.2em;
}
input[type="checkbox"]:checked {
  background-color: #eb8632;
}

/* Direct login */
.tooltip {
  position: relative;
  display: inline-block;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin: 1em 0 1.5em;
}
.tooltip .tooltiptext {
  width: 150px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  border: none;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 0;
  font-size: 14px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Show more (footer) */
#show_more {
  background-color: rgb(0, 0, 0, 0.85);
  border-radius: 28px;
  padding: 1em;
}
#more_handle {
  background: none;
  border: none;
  padding: 0;
  color: rgb(235, 235, 235);
}
#more_handle:hover {
  color: #eb8632;
}
#more_handle span:after {
  content: "\25BC";
  font-family: monospace;
  padding-left: 0.5rem;
  vertical-align: top;
}
#show_more.shows #more_handle span:after {
  content: "\25B2";
}

#more_info {
  font-weight: 200;
  font-size: 1rem;
  display: none;
}
#show_more.shows #more_info {
  display: block;
}
#more_info ul {
  padding-left: 18px;
  margin-bottom: 0;
}
#more_info li {
  margin-top: 0.5rem;
}

/* Responsive */
@media (max-width: 721px) {
  body {
    padding: 1em 0 2em;
  }
  .content {
    padding: 0 1em 0;
  }
  #site,
  #drive_sites,
  select {
    width: 100%;
    min-width: auto;
  }
}

/* Design variant with gradient background and blue controls */
html.blue {
  background: linear-gradient(
    139deg,
    rgba(0, 145, 242, 1) 0%,
    rgba(22, 22, 22, 1) 45%,
    rgba(22, 22, 22, 1) 55%,
    rgba(235, 134, 50, 1) 100%
  );
}
.blue input {
  border-color: rgb(0, 145, 242);
  border-width: 2px;
}
.blue *.button {
  background-color: rgb(0, 145, 242);
  border-color: rgb(0, 145, 242);
  color: #000;
}
.blue .button:hover {
  background-color: rgb(235, 235, 235) !important;
}
.blue a:not(.button) {
  color: rgb(0, 145, 242) !important;
  font-weight: 600;
}
.blue input[type="checkbox"]:checked {
  background-color: rgb(0, 145, 242);
}
.blue #more_handle:hover {
  color: rgb(0, 145, 242);
}
