<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='drive.css')}}">
  <script src="{{url_for('static', filename='drive.js')}}"></script>
  <title>Sunet Drive</title>
</head>

<body>
  <img src="{{url_for('static', filename='logo.png')}}" alt="Sunet Drive logo" />
  {% if user_info %}
  <h1>Successful logout from Sunet Drive</h1>
  <p>Thank you for using Sunet Drive. You can log back in to <a href="https://{{user_info.site }}">
    {{user_info.site}}</a> or select another instance below.</p>
  {% else %}
  <h1>Login to Sunet Drive</h1>
  {% endif %}
  <input type="text" id="search_box" placeholder="Search for a site" onkeyup="filter_sites()" />
  <p>"<b>Extern</b>" is our catch all, if you can't find your institution, that is the one to use.</p>
  <div class="wrapper">
    <ul id="drive_sites">
      {% for item in drive_sites %}
      <li style="display: block" id="{{ drive_sites.index(item) }}"><a class="button" href="{{ item.href }}">
      {{item.caption }}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>
